<h4><%= t ".said", name: comment.name %>:</h4>
<%= simple_format(comment.body) %> 
<%= t ".sent", timestamp: time_ago_in_words(comment.created_at) %>

<%= link_to t("links.destroy"), comment_path(comment), method: :delete, data: { confirm: t("links.destroy_confirmation") }%>